* {
    font-family: arial, sans-serif;
    box-sizing: border-box;
}

.error {
    background: #ffe6ee;
    border: 1px solid #b1395f;
}

.error-message {
    color: #c12020;
    font-weight: bold;
    float: right;
}

.api-error-message {
    color: #c12020;
    font-weight: bold;
}

.text-center {
    text-align: center;
}
